body{
width:100%;
margin: 0 auto;
}
.opener {
  display: block;
  width: 100%;
  margin: -14% 0 -15px 0;
  padding:30% 0;
  background-repeat: no-repeat;
  background-image: url("../images/blue_brain.jpg");
  background-size: 100%;
  background-position:40%;
  background-color: black;
}

.opener h1{
  display: block;
  text-align: center;
  color: #e8ff2a;
  font-size: 200px;
}

.opener h2{
  display: block;
  text-align: center;
}


.explicatoryOverlay {
  display: block;
  width: 100%;
  background-color: #bcbbba;
  margin: 0;
}

.explicatoryOverlay h3 {
  text-align: center;
}

