body{
  width:100%;
  margin:0 auto;
}

.opener {
  display: block;
  position: relative;
  width: 100%;
  margin:0 0 0 0;
  background-repeat: no-repeat;
  background-color:#efead6; 
  padding: 800px 0;
  box-shadow:0px 30px 60px 0px #000000;
  z-index:0;
}

.opener .secondItem {
    position: relative;
    width: 100%;
    height: 400px;
    background-color:rgba(0,0,0,.8);
    z-index:0;
    bottom:0;
    text-align: center;
    font-size:40px;
}

.opener .secondItem h2 {
	display: block;
  text-align: center;
  color: #212121;
  font-size: 80px;
  margin: 100px 0px 0 12px;
  z-index: 5
}

.opener:before {
  content: "";
  position: absolute;
  z-index:1;
  width: 100%;
  height: 100%;
  background-image:url("../brain edited.png");
  background-position: center 10%;
  background-size: 900px 700px;
  background-repeat: no-repeat;
opacity:.4;
  background-attachment: fixed;

  }

  


.opener h1{
  display: block;
  position: relative;
  z-index:2;
  text-align: center;
  color: #812200;
  font-size: 240px;
  margin: 0px;
  padding-top: 100px;
}


.opener .subheading{
  display: block;
  position: relative;
  text-align: center;
  color: brown;
  font-size: 70px;
margin: -10px 0px 0 12px;
   z-index: 5;
}

.opener .subheading:before{
	content:"";
	position:absolute;
	width: 110%;
	height: 400px;
	/*background-color: rgba(148,152,162,.8);
*/

}
.opener .secondSubheading{
	display: block;
  position: relative;
  text-align: center;
  color: brown;
  font-size: 80px;
  margin: 100px 0px 0 12px;
  z-index: 5;
}
#clincher{
 	display: block;
  position: relative;
  text-align: center;
  color: #212121;
  font-size: 100px;
  margin: -10px 0px 0 12px;
  z-index: 5;
 }
.opener p{
	 display: block;
  position: relative;
  text-align: center;
  color: #812200;
  font-size: 60px;
  margin: 40px 0px 0 12px;
  z-index: 5;
}
.explicatoryOverlay {
  display: block;
  width: 100%;
  background-color: #bcbbba;
  margin-top: 0;
padding: 0 0 120px;
         z-index:-1;
 }

#temp1{
display:block;
position:relative;
clear:both;
height: 600px;
}

#temp1 img {
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	height: 600px;
	width: 100%;
	z-index: 0;
	opacity: .8;
}
.clearfix:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }

#temp:before {
  content: ".";
  position: absolute;
  z-index:0;
width: 124%;
  height: 350px;
  background-image:url("../tiny.jpg");
opacity: 1;
  background-position: center center;
  top:0;
  left: -20%;
}
  
.container{
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding:0;
}

.container img {
	height: 700px;
	width: 900px;
	position: relative;
}
.explicatoryOverlay h3 {
  text-align: center;
}  

#explicatoryOverlayState2{
display: block;
position:relative;
width: 70%;
margin: 10% 4% 0 15%;
background-color:#bfb58f;
padding: 5%;
box-shadow: -5px 15px 10px 0px rgba(0,0,0,.7);
border-bottom-color: #807a3e;
border-bottom-width:15px;
border-bottom-style: solid;
z-index:990;
}
